#root {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: auto;
    width: 1000;
    min-height: 100vh;
  }
  #img {
    align-self: center;
    min-width: 50%;
  }
  #logo{
    width: 400;
  }
  #formSection{
    justify-self: flex-end;
    min-width: 50%;
    margin-top: 80;
  }
  #header{
    margin-bottom: 20;
    margin-top: 20;
    font-size: 30;
    font-weight: bold;
  }
  #form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  #input {
    width: 500;
    margin-bottom: 30;
  }
  #inputt {
    width: 500;
    margin-bottom: 30;
  }
  #button{
    width: 500;
    margin-bottom: 60;
    margin-top: 20;
  }
  #alert{
    width: 500;
    height: 50;
  }